body {
    font-family: sans-serif;
   
    display: flex; /* Center the container horizontally */
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Set minimum height for full viewport */
    background-color: #8d8888;
}

.container {
    background-color: #f9f2f2;
    padding: 30px;
    border-radius: 50px;
   
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

button[type="submit"] {
    background-color: #4CAF50; /* Green color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    opacity: 0.8;
}
